@page "/nuovostudente"
@using BlazorAppFITSTIC.Data
@using BlazorAppFITSTIC.Repository
@using System.Linq
@inject StudentService ss


<h3>Nuovo studente</h3>

<div class="alert alert-danger @(showError ? "d-block" : "d-none")">
    <p>
        Errore: controlla i dati in pagina.
    </p>
</div>

<div class="alert alert-success @(showSuccess? "d-block" : "d-none")">
     <p>
         Salvataggio avvenuto con successo.
     </p>
</div>


<label>Nome</label>
<input type="text" @bind-value="nome" class="form-control" />

<label>Cognome</label>
<input type="text" @bind-value="cognome" class="form-control" />

<label>Data di nascita</label>
<input type="date" @bind-value="dtNascita" class="form-control" />

<label>Anno iscrizione</label>
<input type="text" @bind-value="annoIscr" class="form-control" />

@*<label>Corso</label>
<select>
    
</select>*@

<button class="btn btn-outline-primary" @onclick="SaveStudent">Salva</button>

@code {
    bool showSuccess;
    bool showError = false;
    string nome, cognome, annoIscr = DateTime.Now.Year.ToString();
    DateTime dtNascita = DateTime.Now;

    async Task SaveStudent()
    {
        int anno;
        int.TryParse(annoIscr, out anno);
        try
        {
            Student s = new Student(nome, cognome, dtNascita, anno);          

            await ss.AddNewStudent(s);
            showSuccess = true;
        }
        catch (ArgumentException ex)
        {
            showError = true;
            showSuccess = false;
        }
    }
}
