@page "/nuovocorso"
@using BlazorAppFITSTIC.Data
@using BlazorAppFITSTIC.Repository
@using System.Linq
@inject CourseService cs

<h3>Nuovo Corso</h3>

<div class="alert alert-danger @(showError ? "d-block" : "d-none")">
    <p>
        Errore: controlla i dati in pagina.
    </p>
</div>

<div class="alert alert-success @(showSuccess? "d-block" : "d-none")">
    <p>
        Salvataggio avvenuto con successo.
    </p>
</div>

<label>Nome</label>
<input type="text" @bind-value="nome" class="form-control" />

<label>Descrizione</label>
<input type="text" @bind-value="descrizione" class="form-control" />

<label>Materia</label>
<input type="text" @bind-value="materia" class="form-control" />

<label>Inizio corso</label>
<input type="date" @bind-value="inizio" class="form-control" />

<label>Data di nascita</label>
<input type="date" @bind-value="fine" class="form-control" />


<button class="btn btn-outline-primary" @onclick="SaveCourse">Salva</button>



@code {
    bool aggiungi = false;
    bool showSuccess;
    bool showError = false;

    string nome, descrizione, materia;

    DateTime inizio = DateTime.Now;
    DateTime fine = DateTime.Now;

    async Task SaveCourse()
    {
        try
        {
            Course c = new Course(nome, descrizione, materia, inizio, fine);

            await cs.AddNewCourse(c);
            showSuccess = true;
        }
        catch (ArgumentException ex)
        {
            showError = true;
            showSuccess = false;
        }
    }
}
